*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/android/release

*.xcuserstate
*.xcbkptlist
!/.idea/codeStyles/*
!/.idea/inspectionProfiles/*

**/build/
**/.gradle
**/*.iml
**/.idea/*
!.idea/copyright

**/.DS_Store

**/temp/*
/.kotlin/
