name: Verify

on:
  pull_request:
    types: [ opened, synchronize ]
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  verify:
    name: 'Run Verify Script'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: 'Tests'
        run: ./scripts/unit-tests.sh

  build_phone_and_wear_app:
    name: "Build phone and wear app"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Generate Release bundles
        run: ./gradlew bundleRelease

      - name: Sign phone bundle
        uses: r0adkll/sign-android-release@v1
        id: sign_phone_app
        with:
          releaseDirectory: app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Sign wear bundle
        uses: r0adkll/sign-android-release@v1
        id: sign_wear_app
        with:
          releaseDirectory: wearos/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Upload phone app
        uses: actions/upload-artifact@v4
        with:
          name: phone-app
          path: app/build/outputs/bundle/release/app-release.aab

      - name: Upload wear app
        uses: actions/upload-artifact@v4
        with:
          name: wear-app
          path: wearos/build/outputs/bundle/release/wearos-release.aab

  build_linux_app:
    name: "Build linux app"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Generate package
        run: ./gradlew packageDistributionForCurrentOS

      - name: Fix name
        run: |
          ls core/build/compose/binaries/main/deb/
          mv core/build/compose/binaries/main/deb/*.deb core/build/compose/binaries/main/deb/Journal-1.0.0.deb

      - name: Upload linux app
        uses: actions/upload-artifact@v4
        with:
          name: linux-app
          path: core/build/compose/binaries/main/deb/Journal-1.0.0.deb

  build_macos_app:
    name: "Build macOS app"
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Generate package
        run: ./gradlew packageDistributionForCurrentOS

      - name: Upload macos app
        uses: actions/upload-artifact@v4
        with:
          name: macos-app
          path: core/build/compose/binaries/main/dmg/Journal-1.0.0.dmg

